<launch>
    <node name="ArUcoMarkerPose" pkg="marker_localisation" type="ArUcoMarkerPoseNode.py" output="screen">
        <remap from="/image" to="/rgb/image_rect_color"/>
        <remap from="/camera_info" to="/rgb/camera_info" />
        <param name="marker_size" value="0.1" />
        <param name="dictionary" value="original" />
    </node>
</launch>
